<div class="w-full">
  <%= turbo_frame_tag 'calendar' do %>
    <%= month_calendar(events: events) do |date, events| %>
      <%= date.day %>

      <% events.each do |event| %>
        <%= link_to event, data: { turbo: false} do %>
          <%= event.name %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
